button{
    position: relative;
    height: 57px;
    width: 55px;  
    background: #fff;
    border: none;
    border-radius: 7px;
    margin: 5px 3px;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

button >img {
    height: 30px;
    width: 25px;
    position: relative;
    top: 9px;
    margin-top: -14px;
}